body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 20% 20% 20% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 18px;
  text-align: center;
}

#answer-button-container {
  margin-top: 20px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.answer-buttons {
  display: none;
  padding: 7px 7px;
  background-color: blue;
}

button {
  margin-top: 20px;
  border: none;
  background-color: red;
  color: white;
  padding: 7px 7px;
  border-radius: 5px;
}
